<!doctype html>
<html>
    
<head>
    <title>User Login and Sessions</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- SOCIAL MEDIA CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  

    <!--NAVIGATION BAR-->
    <nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/index.html">Society of Rich Philanthropic Nigerian Princes - Not a Scam</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    
    
    
    
    <section class="main-container">
        <div class="jumbotron">    
            <div ng-controller="myController">
                <h2 id="welcomeText">Welcome. You are Logged In as
                    <%= username %>
                </h2>
                <a id="logoutLink" href="/logout">logout</a>
                <a id="editLink" href="/user">Edit User</a>
                <p>Place Your Code Here
                    <p>
                         <hr>
                <span id="indexMsg">
                    <%= msg %>
                </span>
                <hr>
                <span id="colorText">
                    <%= color %>
                </span>
            </div>
           
        </div>
    </section>
      
      
    <!-- Bootstrap Script Links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>